<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  </head>
  <body style=" background-color: #f5f5f5;">
    <div class="row">
      <div style="margin: 2% 2% 2% 2%;"class="col-5">
    <div class="card">
  <div class="card-header">
    Marketing Material
  </div>
  <div class="card-body">
    <h5 class="card-title">Text</h5>
    <p class="card-text">Consejo tributario :
      A medida que las personas se preparan para presentar sus impuestos, hay cosas que considerar. Querrán determinar si necesitan presentar y la mejor manera de hacerlo.<br/><br/>
      Aquí hay tres cosas que las personas deben tener en cuenta a medida que se preparan para presentar sus impuestos:<br/><br/>
      Quién debe presentar. En la mayoría de los casos, los ingresos, el estado civil tributario y la edad determinan si un contribuyente debe presentar una declaración de impuestos. Se pueden aplicar otras reglas si el contribuyente trabaja por cuenta propia o si es dependiente de otra persona. Por ejemplo, si un contribuyente es soltero y menor de 65 años, debe presentar una declaración si su ingreso fue de al menos $10,400. Hay otras instancias en las que un contribuyente debe presentar una declaración. Vaya a IRS.gov/filing y luego haga clic en “Español” para obtener más información.<br/><br/>
      Presentación para obtener un reembolso. Aunque un contribuyente no tenga que presentar una declaración, deben presentar una declaración de impuestos si puede recibir dinero de vuelta. Si un contribuyente responde "sí" a alguna de estas preguntas, es posible que se le deba un reembolso:<br/><br/>
      ¿Mi empleador retuvo impuestos federales de mi sueldo?<br/>
      ¿Realicé pagos de impuestos estimados?<br/>
      ¿Pagué de más el año pasado y lo apliqué al impuesto de este año?<br/>
      ¡Mas info vaya al irs.gov o venga a Etax en familia e informese con los que saben de verdad!<br/>
    <hr/>

    <h5 class="card-title">Attachments</h5>
<div style="margin: 1.5% 0 3% 0"class="input-group">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile04">
    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
  </div>
</div>
    <img style="width: 400px; height: 300px;"src="etaxpromo.jpg" alt="..." class="img-thumbnail">
  </div>
</div>
</div>
<div style="margin: 2% 2% 2% -2%;" class="col-5">
    <div class="card">
  <div class="card-header">
    Approval
  </div>
  <div class="card-body">
    <h5 class="card-title">Status</h5>
    <p class="card-text"><strong>Gloribel:</strong><br/>Proyecto ha sido aprobado procede a culminarlo.<br/>
    <hr/>

    <h5 class="card-title">Audience</h5>
    <p class="card-text">Location: Puerto Rico<br/> Client Type: Taxpayers
  </div>
</div>
</div>
</div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
