<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>E-tax En Familia</title>
  
  <!-- Bootstrap CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Custom fonts for this template-->
  <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  
  <!-- Page level plugin CSS-->
  <link href="static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  
  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin.css" rel="stylesheet">
  <link href="static/css/sidebar-mit.css" rel="stylesheet" type="text/css">
  
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
   

  
<style>

/*
Make bootstrap-select work with bootstrap 4 see:
https://github.com/silviomoreto/bootstrap-select/issues/1135
*/
.dropdown-toggle.btn-default {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
  text-align: left;
  border: none;
  border-radius: 0px;
}
.dropdown-toggle.btn-default:focus,
.dropdown-toggle.btn-default:hover{
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
  text-align: left;
  border: none;
  border-radius: 0px;
}
.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
  display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden{
  display:none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a{
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

.dropdown-menu > li.active > a {
  color: #fff !important;
  background-color: #3f51b5 !important;
}

.bootstrap-select .check-mark::after {
  content: "✓";
}
.bootstrap-select button {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Make filled out selects be the same size as empty selects */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline !important;
}

</style>

</head>




<body class="fixed-nav sticky-footer"  id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #2960a1"  id="mainNav">
    <a class="navbar-brand" href="index.html"> <img style="width:45%;height:30%; opacity: 0.8"src="/static/img/logo-etax-transparente.png" alt="E-tax"></img> </a>
    <!-- BOTON QUE SALE CUANDO SE PONE PEQUENA LA PANTALLA -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- NAVA BAR COMPLETO -->
    <div class="collapse navbar-collapse"   id="navbarResponsive">
    
      <!-- -------------- -->
      <!-- COSAS SIDE BAR -->
      <ul class="navbar-nav navbar-sidenav" style="background-color: #2960a1" id="exampleAccordion">
        <a style="margin: 1% 0 0 3%">
	        <img class="nav-item rounded-circle d-flex" data-toggle="tooltip" data-placement="right" id="profile_pic" style="width: 55%; max-width: 250px" src="static/img/user_profile"></img>
	        <div>
	        <div style="background-color: #FFFFFF; text-align: center; padding: 0 0% 0 0%; border-radius: 27px; width: 40%; margin: -1% 0 0 7%">
	        <span  id="current_name" class="nav-link-text" style="color: #505050">Name </span> </div>
	        </div>
        <a >
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link sidebar2" href="index.html">
            <i class="fa fa-fw fa-dashboard" style="color: #F0F0F0"></i>
            <span class="nav-link-text" style="color: #F0F0F0"> <b> Dashboard</b></span>
          </a>
        </li> -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Projects">
          <a class="nav-link sidebar2" href="/projects">
            <i class="fa fa-fw a fa-handshake-o" style="color: #F0F0F0"></i>
            <span class="nav-link-text" style="color: #F0F0F0"> <b> Projects</b> </span>
          </a>
        </li>
        
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Help">
          <a class="nav-link sidebar2" href="help">
            <i class="fa fa-fw fa-question" style="color: #F0F0F0"></i>
            <span class="nav-link-text" style="color: #F0F0F0"> <b> Help</b></span>
          </a>
        </li>
        </a>
        </a>
        
      </ul>
      
      <!-- LO QUE HACE QUE SE CIERRE EL SIDE BAR -->
      <ul class="navbar-nav sidenav-toggler" style="background-color: #164987" >
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      
      <!-- NAV BAR DE ARRIBA -->
      <ul class="navbar-nav ml-auto" style="background-color: #2960a1" >
        
        <li class="nav-item">
        	
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  
  	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
  	<!-- AREA BLANCA PARA MOSTRAR OPCIONES -->
  	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->


	<div class="content-wrapper">
		<div class="container-fluid" >
			<!-- -------------------- -->
			<!--   Header statuco -->
			<!-- -------------------- -->


			<div class="row" >
				<div class="col-sm-7"  style=" float:none; margin: 0 auto" style=" z-index: 1024" >
					<div class="row" >
					
						<div class="col-sm-9 mb-0 mt-4" style="">
				  		<h2>Projects</h2>
				  	</div>
				  	<div class="col-sm-3 mb-0 mt-4">
				  		<a class="nav-link" data-toggle="modal" data-target="#addProjectModal">
				  			<button type="button" class="btn btn-outline-primary pull-right">+ Add Project</button>
				  		</a>
				  	</div>
					</div>

				</div>
			</div>
			<hr>
			
			<div class="row">
			<div class="col-sm-7"  style=" float:none; margin: 0 auto" style=" z-index: 1024" >
			<div clas="row">
					  <div class="mb-0 mt-4"">
					  
					  
					   	<div class="row">
					   		<div class="col-sm-6">
					   			<div class="mb-0 ">Name</div>
					   		</div>
					   		<div class="col-sm-2">
					   			<div class="mb-0 text-left">Due Date</div>
					   		</div>
					   		<div class="col-sm-2">
					   			<div class="mb-0 text-left">Members</div>
					   		</div>
					  	</div>
					  	<hr class="mt-2">
						</div>
				  </div>
			</div>
			</div>
	
 			<!-- -------------------- -->
			<!--   Area de proyecto -->
			<!-- -------------------- -->   
   
			<div class="row">
				<div class="col-md-7   " style="float:none; margin: 0 auto"  style="margin-top: 0%; min-height: 75vh">

					<div class=" card mb-3" id="projects">
					</div>
				</div>
			</div>
		 	

 		</div>
  </div>
  
	<!-- --------------------- -->
	<!-- --------MODALS------- -->
	<!-- --------------------- -->
	<div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="addProjectModal" aria-hidden="true">
      <div class="modal-dialog" role="dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Project</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
          <form action="/action_page.php" id="addProjectForm">
          <label for="required" class="form-control-label">
  					<strong style="color: red;">Required*</strong>
					</label>
    				<div class="form-group">
      				<label for="name">Name:</label><strong style="color: red;"> *</strong>
      				<div id="nameBox">
      					<input onclick="resetNameColor()" type="text" class="form-control" id="project_name" placeholder="Enter project name" name="project_name" required>
      				</div>
    				</div>
    				<div class="form-group">
      				<label for="projectDescription">Description:</label>
      				<div id="descriptionBox">
      					<input  type="text" class="form-control" id="project_description" placeholder="Enter a brief description for the project" name="projectDescription" >
      				</div>
    				</div>
    				<div class="form-group">
	    				<label for="importance">Importance:</label>
	    				<input list="importanceList" id="project_importance" class="form-control" placeholder="Select an importance level" name="project_importance">
  							<datalist id="importanceList">
    							<option value="Low"></option>
   								<option value="Medium"></option>
   								<option value="High"></option>
  							</datalist>
	    			</div>
    				<div class="form-group">
      				<label for="name">Deadline:</label>
      				<input type="date" class="form-control" id="project_deadline"  name="project_deadline">
    				</div>
	    			<div class="form-group">
	    				<label for="approveBy">Needs to be Approved by:</label>
	    				<input list="administrators" id="project_approved_person" class="form-control" placeholder="Select an administrator" name="approval">
  							<datalist id="administrators">
    							<option value="Gloribel"></option>
   								<option value="Janire"></option>
  							</datalist>
	    			</div>
	    			<div class="form-group">
	    				<label for="approveBy">Members:</label><strong style="color: red;"> *</strong>
	    				<div class="small text-muted">Select at least one member. By default you will be a member</div>
	    				<div id="project_members_selected_div" onchange="resetMembersColor()" ><select onclick="resetMembersColor()" class="form-control selectpicker"  multiple placeholder="Select at least one member" data-live-search="true" name="approval" id="project_members_selected">
    							<option onclick="resetMembersColor()"  value="Gloribel">Gloribel</option>
    							<option onclick="resetMembersColor()"  value="Graciany">Graciany</option>
    							<option onclick="resetMembersColor()"  value="Glorimar">Glorimar</option>
   								<option onclick="resetMembersColor()"  value="Janire">Janire</option>
   								<option onclick="resetMembersColor()"  value="Fabiola">Fabiola</option>
  							</select></div>
	    			</div>
	    			<div class="form-group">
	    				<label for="marketing_chanels">Marketing Channel(s):</label>
	    				<div class="row">
              		<div style="margin: 0px 0px 0px 5%" class="span2">
	                	<label class="checkbox">
	                  	<input type="checkbox" name="optionsCheckboxList1" id="facebook" value="FaceBook">
	                  	Facebook  &emsp; 
	                	</label>
										<label class="checkbox">
	                  	<input type="checkbox" name="optionsCheckboxList1" id="email" value="e-mail">
	                		E-mail    &emsp;
	                	</label>
	                	<label class="checkbox">
	                  	<input type="checkbox" name="optionsCheckboxList1" id="newspaper" value="Newspaper">
	                		Newspaper   
	                	</label>
              		</div>
           			
            	</div>
	    			
	    			</div>
	    			
	    			</form>
 					
 					</div>
          <div class="modal-footer">
          <button id="addBtn" title="Are you sure?" onClick="createNewProject()" type="button" data-trigger="manual" class="btn btn-secondary" data-container="body" data-html="true" data-toggle="popover" data-placement="top" href="#">
 Add
</button>
	          	 <button class="btn btn-secondary" onClick="clearNewProjectModal()" type="button" data-dismiss="modal">Cancel</button> <br>
            <!--  <a class="btn btn-primary" href="/userLogout">Logout</a>-->
          </div>
          <div id="add_project_validation_message">
          </div>
          </form>
        </div>
      </div>
	</div>
	
	<!-- -------------- -->
	<!-- -------------- -->
	<!--  EDIT MODAL -->
	<!-- -------------- -->
	<!-- -------------- -->
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="addProjectModal" aria-hidden="true">
      <div class="modal-dialog" role="dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Project</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
          <form action="/action_page.php" id="addProjectForm">
          <label for="required" class="form-control-label">
  					<strong style="color: red;">Required*</strong>
					</label>
    				<div class="form-group">
      				<label for="name">Name:</label><strong style="color: red;"> *</strong>
      				<div id="nameBox">
      					<input onclick="resetNameColor()" type="text" class="form-control" id="edit_project_name" placeholder="Enter project name" name="project_name" required>
      					<input id="edit_project_id" style="display:none">
      				</div>
    				</div>
    				<div class="form-group">
      				<label for="projectDescription">Description:</label>
      				<div id="descriptionBox">
      					<input  type="text" class="form-control" id="edit_project_description" placeholder="Enter a brief description for the project" name="projectDescription" >
      				</div>
    				</div>
    				<div class="form-group">
	    				<label for="importance">Importance:</label>
	    				<input list="importanceList" id="edit_project_importance" class="form-control" placeholder="Select an importance level" name="project_importance">
  							<datalist id="importanceList">
    							<option value="Low"></option>
   								<option value="Medium"></option>
   								<option value="High"></option>
  							</datalist>
	    			</div>
    				<div class="form-group">
      				<label for="name">Deadline:</label>
      				<input type="date" class="form-control" id="edit_project_deadline"  name="project_deadline">
    				</div>
	    			<div class="form-group">
	    				<label for="approveBy">Needs to be Approved by:</label>
	    				<input list="administrators" id="edit_project_approved_person" class="form-control" placeholder="Select an administrator" name="approval">
  							<datalist id="administrators">
    							<option value="Gloribel"></option>
   								<option value="Janire"></option>
  							</datalist>
	    			</div>
	    			<div class="form-group">
	    				<label for="approveBy">Members:</label><strong style="color: red;"> *</strong>
	    				<div class="small text-muted">Select at least one member. By default you will be a member</div>
	    				<div id="edit_project_members_selected_div" onchange="resetMembersColor()" ><select onclick="resetMembersColor()" class="form-control selectpicker"  multiple placeholder="Select at least one member" data-live-search="true" name="edit_approval" id="edit_project_members_selected">
    							<option onclick="resetMembersColor()"  value="Gloribel">Gloribel</option>
    							<option onclick="resetMembersColor()"  value="Graciany">Graciany</option>
    							<option onclick="resetMembersColor()"  value="Glorimar">Glorimar</option>
   								<option onclick="resetMembersColor()"  value="Janire">Janire</option>
   								<option onclick="resetMembersColor()"  value="Fabiola">Fabiola</option>
  							</select></div>
	    			</div>
	    			<div class="form-group">
	    				<label for="marketing_chanels">Marketing Channel(s):</label>
	    				<div class="row">
              		<div style="margin: 0px 0px 0px 5%" class="span2">
	                	<label class="checkbox">
	                  	<input type="checkbox" name="optionsCheckboxList1" id="edit_facebook" value="facebook">
	                  	Facebook  &emsp; 
	                	</label>
										<label class="checkbox">
	                  	<input type="checkbox" name="optionsCheckboxList1" id="edit_email" value="email">
	                		E-mail    &emsp;
	                	</label>
	                	<label class="checkbox">
	                  	<input type="checkbox" name="optionsCheckboxList1" id="edit_newspaper" value="newspaper">
	                		Newspaper   
	                	</label>
              		</div>
           			
            	</div>
	    			
	    			</div>
	    			
	    			</form>
 					
 					</div>
          <div class="modal-footer">
          <button id="editProjectBtn" title="Are you sure?" onClick="editProjectPopout()" type="button" data-trigger="manual" class="btn btn-secondary" data-container="body" data-html="true" data-toggle="popover" data-placement="top" href="#">
 Edit
</button>
	          	 <button class="btn btn-secondary" onClick="clearEditProjectModal()" type="button" data-dismiss="modal">Cancel</button> <br>
            <!--  <a class="btn btn-primary" href="/userLogout">Logout</a>-->
          </div>
          <div id="edit_project_validation_message">
          </div>
          </form>
        </div>
      </div>
	</div>
	
	
	
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
          <a class="btn btn-secondary" href="/userLogout">Logout</a>
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
  
          </div>
        </div>
      </div>
	</div>
  

    
      <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    
    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    
    
    <!-- Custom scripts for all pages, se encarga de que el sidebar sea hideble-->
    <script src="static/js/sb-admin.min.js"></script>
    
     <script>
    
		var userProjects = [];
		
		var http = new XMLHttpRequest();
			http.onreadystatechange = function(){
		   if(this.readyState == 4 && this.status == 200){	
		    	window.userProjects = JSON.parse(this.responseText);
		    	setProjects();
	     }else if (this.readyState == 4){
			 	  
			 }  
			};
			http.open("GET", "/getProjectsForUser", true);
			http.send(null);
			
		//========================================================================
		//PROJECT CREATION
		//========================================================================
		var new_project_data = {};
		function sendDataForProject(){
			var http = new XMLHttpRequest();
			  http.onreadystatechange = function(){
			      if(this.readyState == 4 && this.status == 200){
			    	  window.location.href = '/projects';
			    	  
			      }else if (this.readyState == 4){
			    	  
			      }  
			  };
			  http.open("POST", "/addNewProject", true);
			  http.setRequestHeader("Content-type", "application/json");
			  http.send(JSON.stringify(new_project_data));
		}
		
		function createNewProject(){

			 var e = document.getElementById("project_members_selected");
			 
			 var miembros = [];
			 for (i = 0; i < e.length; i++){
				 if(e.options[i].selected){
				 	miembros.push(e.options[i].text);
				 }
			 }
			 new_project_data["members"] = miembros;
			 
			 var tempt = document.getElementById("project_name").value;
			 new_project_data["name"] = document.getElementById("project_name").value;
			 new_project_data["deadline"] = document.getElementById("project_deadline").value;
			 new_project_data["person_to_approve"] = document.getElementById("project_approved_person").value;
			 new_project_data["importance"] = document.getElementById("project_importance").value;
			 new_project_data["description"] = document.getElementById("project_description").value;
			 
			 var media_channel = []
			 if(document.getElementById("facebook").checked){
		   	media_channel.push("FaceBook");
		   }
			 if(document.getElementById("email").checked){
				   	media_channel.push("E-mail");
			 }
			 if(document.getElementById("newspaper").checked){
				   	media_channel.push("Newspaper");
			 }
			 new_project_data["media_channel"] = media_channel;
			 
			
			 //validation
			 var validation_pass = true;
			 if(tempt == ""){
				  document.getElementById("project_name").style.backgroundColor = "#fff5f5";
				  document.getElementById("project_name").style.borderColor     = "#d53f3f";
				  document.getElementById("project_name").style.borderWidth     = "2px"
				  document.getElementById("project_name").style.color           = "#0";
				  validation_pass = false;
				  
			 }
			
			 if(miembros.length <= 0){
				  document.getElementById("project_members_selected_div").style.backgroundColor = "#fff5f5";
				  document.getElementById("project_members_selected_div").style.borderColor     = "#d53f3f";
				  document.getElementById("project_members_selected_div").style.borderWidth     = "2px";
				  document.getElementById("project_members_selected_div").style.color           = "#0";
				  document.getElementById("project_members_selected_div").style.borderStyle     = "groove";
				  document.getElementById("project_members_selected_div").style.borderRadius     = "3px";
				  document.getElementById("project_members_selected").style.background     = "#fff5f5";
				  validation_pass = false;
			 }
			 
			 if(validation_pass){
				 document.getElementById("addBtn").setAttribute('data-content',`
						  <button class="btn  btn-secondary btn-xs" onClick="sendDataForProject()" type="button" >Confirm</button>
						  	<button id="popOverCancel"  onClick="closeNewProjectPopOver()" class="btn  btn-secondary btn-xs" type="button" >Cancel</button> 
				 `);
				 
				 $('#addBtn').popover('show');
				 
			 }else{
				 addValidationMessage();
			 }

		}
		
		
		function addValidationMessage(){
			//document.getElementById('add_project_validation_message').className += 'modal-footer';
			document.getElementById('add_project_validation_message').style.textAlign = "right";
			document.getElementById('add_project_validation_message').style.margin = "-3% 2% 2% 0%";
			document.getElementById('add_project_validation_message').innerHTML = `
				<strong class="small" style="color: red;"> **Some required fields are empty</strong>
			
			`;
			
		}
		
		//=============================================================================
		//		DELETE PROJECT	
	  //=============================================================================
		function deleteProject(project_name){
			var temp_json = {};
			temp_json['id'] = project_name;
			var http = new XMLHttpRequest();
			  http.onreadystatechange = function(){
			      if(this.readyState == 4 && this.status == 200){
			    	  window.location.href = '/projects';
			    	  
			      }else if (this.readyState == 4){
			    	  
			      }  
			  };
			  http.open("POST", "/deleteProject", true);
			  http.setRequestHeader("Content-type", "application/json");
			  http.send(JSON.stringify(temp_json));
			  
			
		}
		
		function deleteProjectPopOver(project_name){
			 document.getElementById("deleteProject" + project_name).setAttribute('data-content',`
					  <button class="btn  btn-secondary btn-xs" onClick= ` + "\"deleteProject('" +  project_name  + "')\"" + ` type="button" >Confirm</button>
					  	<button id="popOverCancel"  onClick=` + "\"closeDeletePopOver('" +  project_name  + "')\"" + ` class="btn  btn-secondary btn-xs" type="button" >Cancel</button> 
			 `);
			$('#deleteProject' + project_name).popover('show');
		}
		function closeDeletePopOver(project_name){
			$('#deleteProject' + project_name).popover('hide');
		}
		
		
		//=============================================================================
		//		EDIT PROJECT	
	  //=============================================================================
		  
		function sendDataForEditProject(){
			var temp_json = {};
			temp_json['id'] = document.getElementById('edit_project_id').value;
			var http = new XMLHttpRequest();
			  http.onreadystatechange = function(){
			      if(this.readyState == 4 && this.status == 200){
			    	  
			      }else if (this.readyState == 4){
			    	  
			      }  
			  };
			  http.open("POST", "/deleteProject", true);
			  http.setRequestHeader("Content-type", "application/json");
			  http.send(JSON.stringify(temp_json));
			  
			  
			var http = new XMLHttpRequest();
			  http.onreadystatechange = function(){
			      if(this.readyState == 4 && this.status == 200){
			    	  window.location.href = '/projects';
			    	  
			      }else if (this.readyState == 4){
			    	  
			      }  
			  };
			  http.open("POST", "/addNewProject", true);
			  http.setRequestHeader("Content-type", "application/json");
			  http.send(JSON.stringify(new_project_data));
		}
		
		function editValidationMessage(){
			//document.getElementById('add_project_validation_message').className += 'modal-footer';
			document.getElementById('edit_project_validation_message').style.textAlign = "right";
			document.getElementById('edit_project_validation_message').style.margin = "-3% 2% 2% 0%";
			document.getElementById('edit_project_validation_message').innerHTML = `
				<strong class="small" style="color: red;"> **Some required fields are empty</strong>
			
			`;
			
		}
		
		function editProjectPopout(){
			var e = document.getElementById("edit_project_members_selected");
			 
			 var miembros = [];
			 for (i = 0; i < e.length; i++){
				 if(e.options[i].selected){
				 	miembros.push(e.options[i].text);
				 }var e = document.getElementById("edit_project_members_selected");
				 
				 var miembros = [];
				 for (i = 0; i < e.length; i++){
					 if(e.options[i].selected){
					 	miembros.push(e.options[i].text);
					 }
				 }
				 new_project_data["members"] = miembros;
				 
				 var tempt = document.getElementById("edit_project_name").value;
				 new_project_data["name"] = document.getElementById("edit_project_name").value;
				 new_project_data["deadline"] = document.getElementById("edit_project_deadline").value;
				 new_project_data["person_to_approve"] = document.getElementById("edit_project_approved_person").value;
				 new_project_data["importance"] = document.getElementById("edit_project_importance").value;
				 new_project_data["description"] = document.getElementById("edit_project_description").value;
				 
				 var media_channel = []
				 if(document.getElementById("edit_facebook").checked){
			   	media_channel.push("facebook");
			   }
				 if(document.getElementById("edit_email").checked){
					   	media_channel.push("email");
				 }
				 if(document.getElementById("edit_newspaper").checked){
					   	media_channel.push("newspaper");
				 }
				 new_project_data["media_channel"] = media_channel;
				 
				
				 //validation
				 var validation_pass = true;
				 if(tempt == ""){
					  document.getElementById("edit_project_name").style.backgroundColor = "#fff5f5";
					  document.getElementById("edit_project_name").style.borderColor     = "#d53f3f";
					  document.getElementById("edit_project_name").style.borderWidth     = "2px"
					  document.getElementById("edit_project_name").style.color           = "#0";
					  validation_pass = false;
					  
				 }
				
				 if(miembros.length <= 0){
					  document.getElementById("edit_project_members_selected_div").style.backgroundColor = "#fff5f5";
					  document.getElementById("edit_project_members_selected_div").style.borderColor     = "#d53f3f";
					  document.getElementById("edit_project_members_selected_div").style.borderWidth     = "2px";
					  document.getElementById("edit_project_members_selected_div").style.color           = "#0";
					  document.getElementById("edit_project_members_selected_div").style.borderStyle     = "groove";
					  document.getElementById("edit_project_members_selected_div").style.borderRadius     = "3px";
					  document.getElementById("edit_project_members_selected").style.background     = "#fff5f5";
					  validation_pass = false;
				 }
				 
				 if(validation_pass){
					 document.getElementById("editProjectBtn").setAttribute('data-content',`
							  <button class="btn  btn-secondary btn-xs" onClick="sendDataForEditProject()" type="button" >Confirm</button>
							  	<button id="popOverCancel"  onClick="closeNewProjectPopOver()" class="btn  btn-secondary btn-xs" type="button" >Cancel</button> 
					 `);
					 
					 $('#editProjectBtn').popover('show');
					 
				 }else{
					 editValidationMessage();
				 }

			 }
			 
			 

		}
		
		
		function editProject(project_name){
			//alert(JSON.stringify(window.project_data));
			//alert(window.project_data.name)
			document.getElementById('edit_project_id').value = window.project_data.id;
			document.getElementById('edit_project_name').value = window.project_data.name;
			document.getElementById('edit_project_description').value = window.project_data.description;
			document.getElementById('edit_project_importance').value = (!window.project_data.importance)? 'None' : window.project_data.importance;
			document.getElementById('edit_project_deadline').value = window.project_data.deadline;
			document.getElementById('edit_project_approved_person').value = window.project_data.person_to_approve;
			//document.getElementById('edit_project_members_selected').value = 'Glorimar';
			
			$('select[name=edit_approval]').val(window.project_data.members_name);
			$('.selectpicker').selectpicker('refresh')
			
			for(i = 0; i < window.project_data.media_channel.length; i++){
				document.getElementById('edit_' + window.project_data.media_channel[i]).checked = true;
			}
			
			$('#editModal').modal('show');
		}
		
		
		var project_data = {};
		function showEditProject(project_name){
			
			var temp_json = {};
			temp_json['id'] = project_name;
			var http = new XMLHttpRequest();
			  http.onreadystatechange = function(){
			      if(this.readyState == 4 && this.status == 200){
			    	  window.project_data = JSON.parse(this.responseText);
			    	  editProject();
			      }else if (this.readyState == 4){
			    	  
			      }  
			  };
			  http.open("GET", "/getProjectData/" + project_name, true);
			  http.send(null);
			  
		}
		
		function deleteProjectPopOver(project_name){
			 document.getElementById("deleteProject" + project_name).setAttribute('data-content',`
					  <button class="btn  btn-secondary btn-xs" onClick= ` + "\"deleteProject('" +  project_name  + "')\"" + ` type="button" >Confirm</button>
					  	<button id="popOverCancel"  onClick=` + "\"closeDeletePopOver('" +  project_name  + "')\"" + ` class="btn  btn-secondary btn-xs" type="button" >Cancel</button> 
			 `);
			$('#deleteProject' + project_name).popover('show');
		}
		function closeDeletePopOver(project_name){
			$('#deleteProject' + project_name).popover('hide');
		}
		
		//--------------------------------------
		//clear modal
		//--------------------------------------
		function clearNewProjectModal(){
			document.getElementById("project_name").value = "";
			document.getElementById("project_deadline").value = "";
			document.getElementById("project_approved_person").value = "";
			
			document.getElementById("facebook").checked = false;
			document.getElementById("email").checked = false
			document.getElementById("newspaper").checked = false
			
			document.getElementById("nameBox").innerHTML = `<input type="text" onclick="resetNameColor()" class="form-control" id="project_name" placeholder="Enter project name" name="project_name" required>`;			
			document.getElementById('add_project_validation_message').innerHTML = "";
			document.getElementById("project_members_selected_div").style.backgroundColor = "#ffffff";
			document.getElementById("project_members_selected_div").style.borderColor     = "#ffffff";
			
			$('select[name=approval]').val([]);
			//document.getElementById("project_name").style.backgroundColor = "#ffffff";
			//document.getElementById("project_name").style.borderColor     = "#ffffff";
			
 			
		}
		
		function clearEditProjectModal(){
			document.getElementById("edit_project_name").style.backgroundColor = "#ffffff";
			  document.getElementById("edit_project_name").style.borderColor     = "#e6e6e6";
			  document.getElementById("edit_project_name").style.borderWidth     = "2px"
			  document.getElementById("edit_project_name").style.color           = "#0";
			  document.getElementById("edit_project_members_selected_div").style.backgroundColor = "#ffffff";
				document.getElementById("edit_project_members_selected_div").style.borderColor     = "#e6e6e6";

		}
		
		function resetNameColor(){
			document.getElementById("project_name").style.backgroundColor = "#ffffff";
			  document.getElementById("project_name").style.borderColor     = "#e6e6e6";
			  document.getElementById("project_name").style.borderWidth     = "2px"
			  document.getElementById("project_name").style.color           = "#0";
		}
		function resetMembersColor(){
			document.getElementById("project_members_selected_div").style.backgroundColor = "#ffffff";
			document.getElementById("project_members_selected_div").style.borderColor     = "#e6e6e6";
		}
		
		
		function setProjects(){
			html_string_projects = "";
			
			
			html_string_projects += `
		    	 <div class="list-group list-group-flush small">   	
		     	`;	
		     	
		  for(i in userProjects){
			  document.getElementById("current_name").innerHTML = userProjects[i].current_user_name;
			  document.getElementById("profile_pic").src = 'static/img/' + userProjects[i].current_user_name + '.jpg';
			  var temp_deadline = (userProjects[i].deadline == "") ? "None" : userProjects[i].deadline;
			  html_string_projects += `
		        	 <a class="list-group-item list-group-item-action" href="#">
							  <div class="media">
			                  <div class="media-body">
			                  <div class="row">
				               	<div class="col-sm-	 my-auto">
				               		<div class="row">
				               			<div class="col-sm-6" onclick= ` + "\"cambiaPagina('" +  userProjects[i].name + "','" +  userProjects[i].id + "')\""  + `>
				               			
				                  		<div class="h4 mb-0 text-primary">` + userProjects[i].name + `</div>
				                  		<div class="small text-muted">Owner: ` + userProjects[i].owner + `</div>
				                  	
				                  	</div>
				                  	<div class="col-sm-2 " onclick= ` + "\"cambiaPagina(" +  userProjects[i].name + "," +  userProjects[i].id + ")\""  + `>
			                  			<div class="h4 mb-0 ">` +  temp_deadline + `</div>
			                  		</div>
			                  		<div class="col-sm-4" onclick= ` + "\"cambiaPagina(" +  userProjects[i].name + "," +  userProjects[i].id + ")\""  + `>
				                  		<div class="h4 mb-0 ">
			                  	`;
			   
			  for(j in userProjects[i].members_profile_pic) {
					html_string_projects += `
				            		<img class="nav-item rounded-circle d-flex" data-toggle="tooltip" title=` + "\"" +   userProjects[i].members[j] + "\"" + ` id="profile_pic" style="width: 15%; float: left" src= ` + "\"" +   userProjects[i].members_profile_pic[j] + "\"" + `></img>
				            		`;    
				            }  
			   
			   html_string_projects +=	`
			   											</div>
			   										</div>
			   										
				   								</div>
			                  </div>
			                  </div>
			                  </div>
			           </div>
		           </a>
		            `;
		       	
		     }
		  html_string_projects += `</div>`;
		      document.getElementById('projects').innerHTML += html_string_projects;
		}
		 function cambiaPagina(name, id){
			 
			 window.location.href = "/project?name=" + name + "&id=" + id ;
			
		 }
	
		$(function () {
			  $('[data-toggle="popover"]').popover(
					  
					  {
						  html: true,
						  
						}
					 
			  
			  )
			});
		


		function closeNewProjectPopOver(){
			
			$('#addBtn').popover('hide');
		}
		


			


 </script>
 
 
 <!-- Optional JavaScript -->
   <!-- ---------------------- -->
  <!--   DEPENDENCIAS PARA EL MULTIPLE SELECT -->
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>	
 
  
</body>

</html>
