<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>E-tax En Familia</title>
  
  
    
    
  <!-- Bootstrap CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Custom fonts for this template-->
  <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  
  <!-- Page level plugin CSS-->
  <link href="static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  
  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin.css" rel="stylesheet">
  <link href="static/css/sidebar-mit.css" rel="stylesheet" type="text/css">
  
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
	
<style>

/*
Make bootstrap-select work with bootstrap 4 see:
https://github.com/silviomoreto/bootstrap-select/issues/1135
*/
.dropdown-toggle.btn-default {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
  text-align: left;
  border: none;
  border-radius: 0px;
}
.dropdown-toggle.btn-default:focus,
.dropdown-toggle.btn-default:hover{
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
  text-align: left;
  border: none;
  border-radius: 0px;
}
.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
  display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden{
  display:none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a{
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

.dropdown-menu > li.active > a {
  color: #fff !important;
  background-color: #3f51b5 !important;
}

.bootstrap-select .check-mark::after {
  content: "✓";
}
.bootstrap-select button {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Make filled out selects be the same size as empty selects */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline !important;
}

</style>

</head>




<body class="fixed-nav sticky-footer"  id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #2960a1"  id="mainNav">
    <a class="navbar-brand" href="index.html"> <img style="width:45%;height:30%; opacity: 0.8"src="/static/img/logo-etax-transparente.png" alt="E-tax"></img> </a>
    <!-- BOTON QUE SALE CUANDO SE PONE PEQUENA LA PANTALLA -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- NAVA BAR COMPLETO -->
    <div class="collapse navbar-collapse"   id="navbarResponsive">
    
      <!-- -------------- -->
      <!-- COSAS SIDE BAR -->
      <ul class="navbar-nav navbar-sidenav" style="background-color: #2960a1" id="exampleAccordion">
        <a style="margin: 1% 0 0 3%">
	        <img class="nav-item rounded-circle d-flex" data-toggle="tooltip" data-placement="right" id="profile_pic" style="width: 55%; max-width: 250px" src="static/img/user_profile"></img>
	        <div>
	        <div style="background-color: #FFFFFF; text-align: center; padding: 0 0% 0 0%; border-radius: 27px; width: 40%; margin: -1% 0 0 7%">
	        <span  id="current_name" class="nav-link-text" style="color: #505050">Name </span> </div>
	        </div>
        <a >
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link sidebar2" href="index.html">
            <i class="fa fa-fw fa-dashboard" style="color: #F0F0F0"></i>
            <span class="nav-link-text" style="color: #F0F0F0"> <b> Dashboard</b></span>
          </a>
        </li> -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Projects">
          <a class="nav-link sidebar2" href="/projects">
            <i class="fa fa-fw a fa-handshake-o" style="color: #F0F0F0"></i>
            <span class="nav-link-text" style="color: #F0F0F0"> <b> Projects</b> </span>
          </a>
        </li>
        
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Help">
          <a class="nav-link sidebar2" href="help">
            <i class="fa fa-fw fa-question" style="color: #F0F0F0"></i>
            <span class="nav-link-text" style="color: #F0F0F0"> <b> Help</b></span>
          </a>
        </li>
        </a>
        </a>
        
      </ul>
      
      <!-- LO QUE HACE QUE SE CIERRE EL SIDE BAR -->
      <ul class="navbar-nav sidenav-toggler" style="background-color: #164987" >
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      
      <!-- NAV BAR DE ARRIBA -->
      <ul class="navbar-nav ml-auto" style="background-color: #2960a1" >
        
        <li class="nav-item">
        	
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  
  	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
  	<!-- AREA BLANCA PARA MOSTRAR OPCIONES -->
  	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->


	<div class="content-wrapper">
		<div class="container-fluid">
		
			<!-- STATIC HEADER -->
			<input id="project_id" style="display:none">
				<div class="row" >
				<div class="col-sm-7" style=" float:none; margin: 0 auto"  z-index: 1024; background-color: #FFFFFF; margin: -1% 0 0 0%;" >
					<div class="row">					
						<div class="col-sm-9 mb-0 mt-4" style="">
				  		<h2>Projects/<a id="project_name"></a></h2>
				  	</div>
				  	 <div class="col-sm-3 mb-0 mt-4">
				  	 <div class="h4 mb-0 ">
							  <button style="z-index: 1024" id="editBtn" class="btn  btn-outline-primary btn-xs" onClick="" type="button" ><i class="fa fa-cog"></i>Settings</button> 
							  <button  id="deleteBtn" class="btn  btn-outline-danger btn-xs"  data-container="body" data-html="true"  data-placement="top" href="#" onClick=""  type="button" ><i class="fa fa-trash"></i>Delete</button>
			   			</div>
				  		<!-- <a class="nav-link" data-toggle="modal" data-target="#addProjectModal">
				  			<button type="button" class="btn btn-outline-primary pull-right">+ Add Project</button>
				  		</a> -->
				  	</div> 

				</div>
			</div>
			</div>
			
			<hr></hr>
			<div class ="row">
			
				<!-- MARKETING MATERIAL -->
				<div class="col-sm-7">
					<div class=" card mb-3 mt-3" id="marketing_material">
						<div class="card-header"> Marketing Material</div>
						<div class="card-body">
						<div class="row">
							<div  class="col-sm-10">
								<h4>Text:</h4>
							</div>
							<div  class="col-sm-2">
								<button style="z-index: 1024" id="editTextBtn" class="btn  btn-outline-primary btn-sm" onClick="editText()" type="button" ><i class="fa fa-edit"></i>Edit</button> 
							  <button style="display:none"  id="stopeditTextBtn" class="btn  btn-outline-primary btn-sm" onClick="stopeditText()" type="button" ><i class="fa fa-edit"></i>Finish</button> 
							  
							</div>
							
						</div>
							
							
							<br>
							<div id="previewtext">
							<p class="card-text"><b>Consejo tributario :</b>
      A medida que las personas se preparan para presentar sus impuestos, hay cosas que considerar. Querrán determinar si necesitan presentar y la mejor manera de hacerlo.<br/><br/>
      Aquí hay tres cosas que las personas deben tener en cuenta a medida que se preparan para presentar sus impuestos:<br/><br/>
      Quién debe presentar. En la mayoría de los casos, los ingresos, el estado civil tributario y la edad determinan si un contribuyente debe presentar una declaración de impuestos. Se pueden aplicar otras reglas si el contribuyente trabaja por cuenta propia o si es dependiente de otra persona. Por ejemplo, si un contribuyente es soltero y menor de 65 años, debe presentar una declaración si su ingreso fue de al menos $10,400. Hay otras instancias en las que un contribuyente debe presentar una declaración. Vaya a IRS.gov/filing y luego haga clic en “Español” para obtener más información.<br/><br/>
      Presentación para obtener un reembolso. Aunque un contribuyente no tenga que presentar una declaración, deben presentar una declaración de impuestos si puede recibir dinero de vuelta. Si un contribuyente responde "sí" a alguna de estas preguntas, es posible que se le deba un reembolso:<br/><br/>
      ¿Mi empleador retuvo impuestos federales de mi sueldo?<br/>
      ¿Realicé pagos de impuestos estimados?<br/>
      ¿Pagué de más el año pasado y lo apliqué al impuesto de este año?<br/>
      ¡Mas info vaya al irs.gov o venga a Etax en familia e informese con los que saben de verdad!<br/>
    
							</div>
							
							<textarea style="display:none; height: 500px;" class="form-control" rows="5" id="textareatext" placeholder="Write some text">Consejo tributario :
      A medida que las personas se preparan para presentar sus impuestos, hay cosas que considerar. Querrán determinar si necesitan presentar y la mejor manera de hacerlo.

      Aquí hay tres cosas que las personas deben tener en cuenta a medida que se preparan para presentar sus impuestos:

      Quién debe presentar. En la mayoría de los casos, los ingresos, el estado civil tributario y la edad determinan si un contribuyente debe presentar una declaración de impuestos. Se pueden aplicar otras reglas si el contribuyente trabaja por cuenta propia o si es dependiente de otra persona. Por ejemplo, si un contribuyente es soltero y menor de 65 años, debe presentar una declaración si su ingreso fue de al menos $10,400. Hay otras instancias en las que un contribuyente debe presentar una declaración. Vaya a IRS.gov/filing y luego haga clic en “Español” para obtener más información.


      Presentación para obtener un reembolso. Aunque un contribuyente no tenga que presentar una declaración, deben presentar una declaración de impuestos si puede recibir dinero de vuelta. Si un contribuyente responde "sí" a alguna de estas preguntas, es posible que se le deba un reembolso:<br/><br/>
      ¿Mi empleador retuvo impuestos federales de mi sueldo?

      ¿Realicé pagos de impuestos estimados?

      ¿Pagué de más el año pasado y lo apliqué al impuesto de este año?

      ¡Mas info vaya al irs.gov o venga a Etax en familia e informese con los que saben de verdad!


							</textarea>
								
						<hr>
					<h4>Attachments</h4>
							<label class="custom-file" style="width: 100%">
  										<input onchange="fileselected()" type="file" id="file" class="custom-file-input">
  										<span class="custom-file-control"></span>
										</label>
										<br></br>
							<ul class="list-group">
  <li class="list-group-item"><img style="width: 100px; height: 75px;"src="static/img/etaxpromo.png" alt="..." class="img-thumbnail">&nbsp; e-tax_contact_info.png</li>
  <li class="list-group-item"><img style="width: 100px; height: 75px;"src="static/img/contact_info.png" alt="..." class="img-thumbnail">&nbsp; consejo_atributario_2018.jpg</li>
</ul>		
						</div>
					</div>
				</div>
				
				<!-- marketing channel & approval -->
				<div class="col-sm-5 mt-3">
					<!-- channels -->
					<div class row>
						<div class=" card mb-3" id="marketing_channel">
							<div class="card-header"> Marketing Channel and Audience</div>
							<div class="card-body">
								<div class="row">
							<div  class="col-sm-10">
								<h4>Marketing Channel:</h4>
							</div>
							 <p class="card-text">
      <ul>
        <li><i class="fa fa-facebook-square"></i> Facebook</li>
        <li><i class="fa fa-envelope"></i> Email</li>
        <li><i class="fa fa-newspaper-o"></i> Newspaper</li>
      </ul>  
							
							
						</div>
						<hr>
						<div class="row">
							<div  class="col-sm-10">
								<h4>Audience:</h4>
							</div>
							<div  class="col-sm-2">
								<button id="email_settings"  class="btn  btn-outline-primary btn-sm" onClick="showEditEmail('1')" type="button" ><i class="fa fa-edit"></i>Edit</button>

							  
							</div>
							<p class="card-text">
      <ul>
      <li>Location
        <ul style="list-style-type:square">
        <li>Puerto Rico</li>
      </ul>
      </li>
      <li>Clients:
        <ul style="list-style-type:square">
        <li>Taxpayers</li>
      </ul>
      </li>
      <li>Gender:
        <ul style="list-style-type:square">
        <li>Male</li>
        <li>Female</li>
        <li>Other</li>
      </ul>
      </li>
    </ul>
							
						</div>
						
						
								<!-- <div class="list-group list-group-flush small" id="marketing_channel_list"> 
									
								</div> -->
							</div>
						</div>
					</div>
					<!-- approval -->
					<div class row>
						<div class=" card mb-3" id="approval">
							<div class="card-header"> Approval</div>
							<div class="card-body">
							<label><h4>Approval Status: </h4></a></label>
							<div class="form-group">
            <div class="row">
            <div style="margin: 0px 0px 0px 5%" class="span2">
              <!-- <label for="location" class="form-control-label">By Client Type:</label> -->
             
              <label class="checkbox">
                <input data-toggle="tooltip" title="Just an admin can approve" id="filter" type="checkbox" checked disabled name="optionsCheckboxList3" value="option1">
                Approved to Start
              </label>
              <br/>
              <label class="checkbox">
                <input data-toggle="tooltip" title="Just an admin can approve" id="filter" disabled type="checkbox" name="optionsCheckboxList3" value="option3">
                Audience Approved
              </label>
              <br>
              <label class="checkbox">
                <input data-toggle="tooltip" title="Just an admin can approve" id="filter" disabled type="checkbox" name="optionsCheckboxList3" value="option2">
              Proofreading Approved
              </label>
              <br/>
              <label class="checkbox">
                <input data-toggle="tooltip" title="Just an admin can approve" id="filter" disabled  type="checkbox" name="optionsCheckboxList3" value="option3">
                Approved for Publishing
              </label>
              
            </div>
            </div>
          </div>
         
							<hr>
							<label style="width: 100%"><h4>Comments by Project Manager:</h4> <a id="person2approve"></a>
									 <textarea disabled class="form-control" rows="5" id="comment" placeholder="No comments for the momment">Projects need some proofreading
Audience should not include female</textarea>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
 		</div>
  </div>
  
	

   <!-- Modal -->
  <div class="modal fade" id="emailSettingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Email Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
<!-- <a href="#" data-toggle="tooltip" title="Hooray!">Required*</a> -->
<label for="required" class="form-control-label">
  <strong style="color: red;">Required*</strong>
</label>
<br/>
<br/>
<label for="recipient-name" class="form-control-label">
  <span data-toggle="tooltip" data-placement="right" title="Default send to all">Filter Recipients:</span>
  <p style="font-size: 12px; margin:0 0 1% 0">Select all the filters that apply. If no filter selected the email will be send to all people in database</p>
</label>
            <div class="form-group">
              <div class="row">
                <div class="col">
              <div style="margin: 0px 0px 0px 5%" class="span2">
                <label for="location" class="form-control-label">By Location</label>
                <br/>
                <label class="checkbox">
                  <input id="pr" type="checkbox" name="optionsCheckboxList1" value="option1">
                  Puerto Rico
                </label>

                <label class="checkbox">
                  <input id="us" type="checkbox" name="optionsCheckboxList1" value="option2">
                United States
                </label>
              </div>
            </div>

  <div class="col">
              <div class="form-group">
                <div class="row">
                <div style="margin: 0px 0px 0px 5%" class="span2">
                  <label for="location" class="form-control-label">By Gender</label>
                  <br/>
                  <label class="checkbox">
                    <input id="male" type="checkbox" name="optionsCheckboxList2" value="option1">
                    Male
                  </label>
                  <br/>
                  <label class="checkbox">
                    <input id="female" type="checkbox" name="optionsCheckboxList2" value="option2">
                  Female
                  </label>
                  <br/>
                  <label class="checkbox">
                    <input id="other" type="checkbox" name="optionsCheckboxList2" value="option3">
                    Other
                  </label>
                </div>
                </div>
            </div>
          </div>

<div class="col">
          <div class="form-group">
            <div class="row">
            <div style="margin: 0px 0px 0px 5%" class="span2">
              <label for="location" class="form-control-label">By Client Type:</label>
              <br/>
              <label class="checkbox">
                <input id="accountants" type="checkbox" name="optionsCheckboxList3" value="option1">
                Accountants
              </label>
              <br/>
              <label class="checkbox">
                <input id="third_parties" type="checkbox" name="optionsCheckboxList3" value="option2">
              Third parties
              </label>
              <br/>
              <label class="checkbox">
                <input id="taxpayers" type="checkbox" name="optionsCheckboxList3" value="option3">
                Taxpayers
              </label>
            </div>
            </div>
          </div>
        </div>

              </div>

          </div>


      <!-- <div style="margin: -6% 0px 0px 2%" class="span2" class="form-group">
        <label for="formGroupExampleInput">By Age:</label>
        <div class="row">
          <div class="col">
            <label for="formGroupExampleInput">From:</label>
            <input type="number" min="1" max="110" class="form-control" id="formGroupExampleInput" placeholder="15">
          </div>
          <div class="col">
            <label for="formGroupExampleInput">To:</label>
            <input type="number" class="form-control" id="formGroupExampleInput" placeholder=" 30">
          </div>
      </div>
      </div> -->
  <br/>

        <div class="form-group">
        <label for="exampleFormControlSelect1">Include Project Attachments<strong style="color: red;"> *</strong></label>
        <select class="form-control" id="email_attachments">
          <option value='yes'>Yes</option>
          <option value='no'>No</option>
        </select>
      </div>

      <div class="form-group">
      <label for="exampleFormControlSelect2">Include Project Text<strong style="color: red;"> *</strong></label>
      <select class="form-control" id="email_text">
        <option value='yes'>Yes</option>
        <option value='no'>No</option>
      </select>
    </div>

    </form>

        </div>
        <div class="modal-footer">
        	<button id="changeEmailSettings"  title="Are you sure?" onclick="change_email_settings()" type="button" type="button" data-trigger="manual" class="btn btn-secondary" data-container="body" data-html="true" data-toggle="popover" data-placement="top"">Change</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
    <img  class="rounded-circle"></img>
  </div>
  
  	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
         		 <a class="btn btn-secondary" href="/userLogout">Logout</a>
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            
          </div>
        </div>
      </div>
	</div>
<!-- -------------- -->
	<!-- -------------- -->
	<!--  EDIT MODAL -->
	<!-- -------------- -->
	<!-- -------------- -->
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="addProjectModal" aria-hidden="true">
      <div class="modal-dialog" role="dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Project</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
          <form action="/action_page.php" id="addProjectForm">
          <label for="required" class="form-control-label">
  					<strong style="color: red;">Required*</strong>
					</label>
    				<div class="form-group">
      				<label for="name">Name:</label><strong style="color: red;"> *</strong>
      				<div id="nameBox">
      					<input onclick="resetNameColor()" type="text" class="form-control" id="edit_project_name" placeholder="Enter project name" name="project_name" required>
      					<input id="edit_project_id" style="display:none">
      				</div>
    				</div>
    				<div class="form-group">
      				<label for="projectDescription">Description:</label>
      				<div id="descriptionBox">
      					<input  type="text" class="form-control" id="edit_project_description" placeholder="Enter a brief description for the project" name="projectDescription" >
      				</div>
    				</div>
    				<div class="form-group">
	    				<label for="importance">Importance:</label>
	    				<input list="importanceList" id="edit_project_importance" class="form-control" placeholder="Select an importance level" name="project_importance">
  							<datalist id="importanceList">
    							<option value="Low"></option>
   								<option value="Medium"></option>
   								<option value="High"></option>
  							</datalist>
	    			</div>
    				<div class="form-group">
      				<label for="name">Deadline:</label>
      				<input type="date" class="form-control" id="edit_project_deadline"  name="project_deadline">
    				</div>
	    			<div class="form-group">
	    				<label for="approveBy">Needs to be Approved by:</label>
	    				<input list="administrators" id="edit_project_approved_person" class="form-control" placeholder="Select an administrator" name="approval">
  							<datalist id="administrators">
    							<option value="Gloribel"></option>
   								<option value="Janire"></option>
  							</datalist>
	    			</div>
	    			<div class="form-group">
	    				<label for="approveBy">Members:</label><strong style="color: red;"> *</strong>
	    				<div class="small text-muted">Select at least one member. By default you will be a member</div>
	    				<div id="edit_project_members_selected_div" onchange="resetMembersColor()" ><select onclick="resetMembersColor()" class="form-control selectpicker"  multiple placeholder="Select at least one member" data-live-search="true" name="edit_approval" id="edit_project_members_selected">
    							<option onclick="resetMembersColor()"  value="Gloribel">Gloribel</option>
    							<option onclick="resetMembersColor()"  value="Graciany">Graciany</option>
    							<option onclick="resetMembersColor()"  value="Glorimar">Glorimar</option>
   								<option onclick="resetMembersColor()"  value="Janire">Janire</option>
   								<option onclick="resetMembersColor()"  value="Fabiola">Fabiola</option>
  							</select></div>
	    			</div>
	    			<div class="form-group">
	    				<label for="marketing_chanels">Marketing Channel(s):</label>
	    				<div class="row">
              		<div style="margin: 0px 0px 0px 5%" class="span2">
	                	<label class="checkbox">
	                  	<input type="checkbox" name="optionsCheckboxList1" id="edit_facebook" value="facebook">
	                  	Facebook  &emsp; 
	                	</label>
										<label class="checkbox">
	                  	<input type="checkbox" name="optionsCheckboxList1" id="edit_email" value="email">
	                		E-mail    &emsp;
	                	</label>
	                	<label class="checkbox">
	                  	<input type="checkbox" name="optionsCheckboxList1" id="edit_newspaper" value="newspaper">
	                		Newspaper   
	                	</label>
              		</div>
           			
            	</div>
	    			
	    			</div>
	    			
	    			</form>
 					
 					</div>
          <div class="modal-footer">
          <button id="editProjectBtn" title="Are you sure?" onClick="editProjectPopout()" type="button" data-trigger="manual" class="btn btn-secondary" data-container="body" data-html="true" data-toggle="popover" data-placement="top" href="#">
 Edit
</button>
	          	 <button class="btn btn-secondary" onClick="clearEditProjectModal()" type="button" data-dismiss="modal">Cancel</button> <br>
            <!--  <a class="btn btn-primary" href="/userLogout">Logout</a>-->
          </div>
          <div id="edit_project_validation_message">
          </div>
          </form>
        </div>
      </div>
	</div>
    
      <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    
    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    
    
    <!-- Custom scripts for all pages, se encarga de que el sidebar sea hideble-->
    <script src="static/js/sb-admin.min.js"></script>
    
     <script>
     function editText(){
    	 document.getElementById("previewtext").style.display = "none"; 
    	 document.getElementById("textareatext").style.display = "";
    	 document.getElementById("stopeditTextBtn").style.display = "";
    	 document.getElementById("editTextBtn").style.display = "none";
     }
     
     function stopeditText(){
    	 document.getElementById("textareatext").style.display = "none"; 
    	 document.getElementById("previewtext").style.display = "";
    	 document.getElementById("editTextBtn").style.display = "";
    	 document.getElementById("stopeditTextBtn").style.display = "none";
     }
     //@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
     //		EMAIL STUFF
     //@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
     function change_email_settings(){
    	 document.getElementById("changeEmailSettings").setAttribute('data-content',`
				  <button class="btn  btn-secondary btn-xs" onClick="changeEmailData()" type="button" >Confirm</button>
				  	<button id="popOverCancel"  onClick="closeNewProjectPopOver()" class="btn  btn-secondary btn-xs" type="button" >Cancel</button> 
		 `);
    	 $('#changeEmailSettings').popover('show');
     }
     
     function changeEmailData(){
    	 
    	 
    	 var temp_dat = {};
    	 
    	 var location = [];
		 if(document.getElementById("pr").checked){
			 location.push("pr");
	   }
    	 if(document.getElementById("us").checked){
			 location.push("us");
	   }
    	 temp_dat['location'] = location;
    	 
    	 var gender = [];
		 if(document.getElementById("female").checked){
			 gender.push("female");
	   }
    	 if(document.getElementById("male").checked){
    		 gender.push("male");
	   }
    	 if(document.getElementById("other").checked){
    		 gender.push("other");
	   }
    	 temp_dat['gender'] = gender;
    	 
    	 var client_type = [];
    	 if(document.getElementById("taxpayers").checked){
    		 client_type.push("taxpayers");
	   }
    	 if(document.getElementById("accountants").checked){
    		 client_type.push("accountants");
	   }
    	 if(document.getElementById("third_parties").checked){
    		 client_type.push("third_parties");
	   }
    	 temp_dat['client_type'] = client_type;
    	 
    	 if(document.getElementById('email_attachments').value == 'yes'){
    		 temp_dat['email_attachments'] = 'true';
    	 }else{
    		 temp_dat['email_attachments'] = 'false';
    	 }
    	 
    	 if(document.getElementById('email_text').value == 'yes'){
    		 temp_dat['email_text'] = 'true';
    	 }else{
    		 temp_dat['email_text'] = 'false';
    	 }
    	 
    	 temp_dat['id'] = document.getElementById('project_id').value;
    	 
    	
    	 
    	 
    	 var http = new XMLHttpRequest();
		  http.onreadystatechange = function(){
		      if(this.readyState == 4 && this.status == 200){
		    	  
		    	  window.location.reload();
		    	  
		    	  
		      }else if (this.readyState == 4){
		    	  
		      }  
		  };
		  http.open("POST", "/addSettings", true);
		  http.setRequestHeader("Content-type", "application/json");
		  http.send(JSON.stringify(temp_dat));
    	 
     }
     
     function closeNewProjectPopOver(){
			
			$('#changeEmailSettings').popover('hide');
		}
     
     
     
     
    function fileselected(){
    	temp = document.getElementById("file").value;
    	file_name = temp.substring(temp.indexOf("fakepath\\") + 10);
    	document.getElementById("file").setAttribute('placeholder', file_name);
    	
    	temp_string = `
			<a class="list-group-item ">
				
          
               	<div class="my-auto"> ` + file_name + `
               	
             
         
	 			</a>
		`
		
    	document.getElementById("attachments").innerHTML += temp_string;

    }
    
    
    
    
    
     function showEditEmail(id){
    	 //look for data
			var http = new XMLHttpRequest();
			  http.onreadystatechange = function(){
			      if(this.readyState == 4 && this.status == 200){
			    	  var settings_data = JSON.parse(this.responseText);
			    	
			    	  for(i = 0; i < settings_data.location.length; i++){
			    		  document.getElementById(settings_data.location[i]).checked = true;
			    	  }
			    	  for(i = 0; i < settings_data.gender.length; i++){
			    		  document.getElementById(settings_data.gender[i]).checked = true;
			    	  }
			    	  for(i = 0; i < settings_data.client_type.length; i++){
			    		  document.getElementById(settings_data.client_type[i]).checked = true;
			    	  }
				 			if(ettings_data.email_attachments == 'true'){
				 				document.getElementById('email_attachments').value = 'yes';
				 			}else{
				 				document.getElementById('email_attachments').value = 'no';
				 			}
				 			if(ettings_data.email_text == 'true'){
				 				document.getElementById('email_text').value = 'yes';
				 			}else{
				 				document.getElementById('email_text').value = 'no';
				 			}

				    	  
	
			    	  
			      }else if (this.readyState == 4){
			    	  
			      }  
			  };
			  http.open("GET", "/getemaildata/" + id, true);
			  http.send(null);
    	 
    	 $('#emailSettingModal').modal('show');
     }
     
     
     
     
     //set project name
    	var actual_project_data = "";
 			var http2 = new XMLHttpRequest();
 			http2.onreadystatechange = function(){
   			if(this.readyState == 4 && this.status == 200){	
    			window.actual_project_data = JSON.parse(this.responseText);

    			document.getElementById("project_name").innerHTML = window.actual_project_data.name;
    			var temp_string = "";
    			for(i = 0; i < actual_project_data.media_channel.length; i++){
    				media_btn = (actual_project_data.media_channel[i] == 'email') ? `</div><div class="col-sm-2 my-auto"><button id="email_settings"  class="btn  btn-outline-primary btn-sm" onClick=` + "\"showEditEmail('" +   actual_project_data.id + "')\"" + ` type="button" ><i class="fa fa-cog"></i>Settings</button></div>` : "</div>";
              		
    				temp_string += `
    					<a class="list-group-item ">
    						
		              	<div class="row">
			               	<div class="col-sm-9 my-auto"> ` + actual_project_data.media_channel[i] + media_btn + `
			               	
			             
			          </div>
				 			</a>
    				`
    			}
    			document.getElementById("marketing_channel_list").innerHTML = temp_string;
    			document.getElementById("person2approve").innerHTML += actual_project_data.person_to_approve + ":";
 					
    			//hide btn de edit y delete si 
    			if(actual_project_data.owner == actual_project_data.current_user){
    				document.getElementById("deleteBtn").setAttribute("data-toggle", "popover");
    				document.getElementById("deleteBtn").setAttribute("title", "Are you sure?");
    				document.getElementById("deleteBtn").setAttribute('data-content',`
							  <button class="btn  btn-secondary btn-xs" onClick="deleteProject()" type="button" >Confirm</button>
							  	<button id="popOverCancel"  onClick="closeDeleteProject()" class="btn  btn-secondary btn-xs" type="button" >Cancel</button> 
					 `);
					 
    				
    				document.getElementById("editBtn").setAttribute("onClick", "showEditProject('" + actual_project_data.id + "')");
    				
    				
    				
    			}else{
    				
    				document.getElementById("deleteBtn").setAttribute("data-toggle", "tooltip");
    				document.getElementById("deleteBtn").setAttribute("title", "Just owners can delete projects");
    				document.getElementById("deleteBtn").disabled = 'true';
    				document.getElementById("editBtn").setAttribute("data-toggle", "tooltip");
    				document.getElementById("editBtn").setAttribute("title", "Just owners can edit projects");
    				document.getElementById("editBtn").disabled = 'true';
    			}

   			
   			}else if (this.readyState == 4){
	 	  
	 			}  
			};
			http2.open("GET", "/getProjectInView", true);
			http2.send(null);
	
     //deleteProject
			function closeDeleteProject(){
				$('#deleteBtn').popover('hide');
			}
			
			
			
			
			
		var userProjects = [];

		var http = new XMLHttpRequest();
			http.onreadystatechange = function(){
		   if(this.readyState == 4 && this.status == 200){	
		    	window.userProjects = JSON.parse(this.responseText);
		    	setProjects();
	     }else if (this.readyState == 4){
			 	  
			 }  
			};
			http.open("GET", "/getProjectsForUser", true);
			http.send(null);
			
	
		

		
		
		function setProjects(){
			html_string_projects = "";
			
			
			html_string_projects += `
		    	 <div class="list-group list-group-flush small">   	
		     	`;	
		     	
		  for(i in userProjects){
			  document.getElementById("project_id").value = userProjects[i].id;
			  document.getElementById("current_name").innerHTML = userProjects[i].current_user_name;
			  document.getElementById("profile_pic").src = 'static/img/' + userProjects[i].current_user_name + '.jpg';
			  var temp_deadline = (userProjects[i].deadline == "") ? "None" : userProjects[i].deadline;
			  html_string_projects += `
		        	 <a class="list-group-item list-group-item-action">
							  <div class="media">
			                  <div class="media-body">
			                  <div class="row">
				               	<div class="col-sm-12 my-auto">
				               		<div class="row">
				               			<div class="col-sm-4">
				                  		<div class="h4 mb-0 text-primary">` + userProjects[i].name + `</div>
				                  		<div class="small text-muted">Owner: ` + userProjects[i].owner + `</div>
				                  	</div>
				                  	<div class="col-sm-2">
			                  			<div class="h4 mb-0 ">` +  temp_deadline + `</div>
			                  		</div>
			                  		<div class="col-sm-4">
				                  		<div class="h4 mb-0 ">
			                  	`;
			   
			  for(j in userProjects[i].members_profile_pic) {
					html_string_projects += `
				            		<img class="nav-item rounded-circle d-flex" data-toggle="tooltip"  id="profile_pic" style="width: 8%; float: left" src= ` + "\"" +   userProjects[i].members_profile_pic[j] + "\"" + `></img>
				            		`;    
				            }  
			   var temp_delete_visibility = (userProjects[i].current_user == userProjects[i].owner)? " data-trigger='manual' title='Are you sure?'" : "disabled data-toggle='tooltip' title='Just owners can delete projects'";
			   var temp_edit_visibility = (userProjects[i].current_user == userProjects[i].owner)? "" : "disabled data-toggle='tooltip' title='Just owners can edit projects'";
			   
			   html_string_projects +=	`
			   											</div>
			   										</div>
			   										<div class="col-sm-2">
							                  		
			   										</div>
				   								</div>
			                  </div>
			                  </div>
			                  </div>
			           </div>
		           </a>
		            `;
		       	
		     }
		  html_string_projects += `</div>`;
		}
		 
	
		$(function () {
			  $('[data-toggle="popover"]').popover(
					  
					  {
						  html: true,
						  
						}

			  )
			});
		


		//=============================================================================
		//		EDIT PROJECT	
	  //=============================================================================
		  var new_project_data = {};
		function sendDataForEditProject(){
			var temp_json = {};
			
			new_project_data['id'] = document.getElementById('project_id').value;
			
			
			  
			  //CHANGE FOR EDIT
			  
			var http = new XMLHttpRequest();
			  http.onreadystatechange = function(){
			      if(this.readyState == 4 && this.status == 200){
			    		  window.location.href = "/project?name=" + new_project_data.name + "&id=" +  document.getElementById('project_id').value;
			    	  
			      }else if (this.readyState == 4){
			    	  
			      }  
			  };
			  http.open("POST", "/editProject", true);
			  http.setRequestHeader("Content-type", "application/json");
			  http.send(JSON.stringify(new_project_data));
		}
		
		function editValidationMessage(){
			//document.getElementById('add_project_validation_message').className += 'modal-footer';
			document.getElementById('edit_project_validation_message').style.textAlign = "right";
			document.getElementById('edit_project_validation_message').style.margin = "-3% 2% 2% 0%";
			document.getElementById('edit_project_validation_message').innerHTML = `
				<strong class="small" style="color: red;"> **Some required fields are empty</strong>
			
			`;
			
		}
		
		function editProjectPopout(){
			var e = document.getElementById("edit_project_members_selected");
			 
			 var miembros = [];
			 for (i = 0; i < e.length; i++){
				 if(e.options[i].selected){
				 	miembros.push(e.options[i].text);
				 }var e = document.getElementById("edit_project_members_selected");
				 
				 var miembros = [];
				 for (i = 0; i < e.length; i++){
					 if(e.options[i].selected){
					 	miembros.push(e.options[i].text);
					 }
				 }
				 new_project_data["members"] = miembros;
				 
				 var tempt = document.getElementById("edit_project_name").value;
				 new_project_data["name"] = document.getElementById("edit_project_name").value;
				 new_project_data["deadline"] = document.getElementById("edit_project_deadline").value;
				 new_project_data["person_to_approve"] = document.getElementById("edit_project_approved_person").value;
				 new_project_data["importance"] = document.getElementById("edit_project_importance").value;
				 new_project_data["description"] = document.getElementById("edit_project_description").value;
				 
				 var media_channel = []
				 if(document.getElementById("edit_facebook").checked){
			   	media_channel.push("facebook");
			   }
				 if(document.getElementById("edit_email").checked){
					   	media_channel.push("email");
				 }
				 if(document.getElementById("edit_newspaper").checked){
					   	media_channel.push("newspaper");
				 }
				 new_project_data["media_channel"] = media_channel;
				 
				
				 //validation
				 var validation_pass = true;
				 if(tempt == ""){
					  document.getElementById("edit_project_name").style.backgroundColor = "#fff5f5";
					  document.getElementById("edit_project_name").style.borderColor     = "#d53f3f";
					  document.getElementById("edit_project_name").style.borderWidth     = "2px"
					  document.getElementById("edit_project_name").style.color           = "#0";
					  validation_pass = false;
					  
				 }
				
				 if(miembros.length <= 0){
					  document.getElementById("edit_project_members_selected_div").style.backgroundColor = "#fff5f5";
					  document.getElementById("edit_project_members_selected_div").style.borderColor     = "#d53f3f";
					  document.getElementById("edit_project_members_selected_div").style.borderWidth     = "2px";
					  document.getElementById("edit_project_members_selected_div").style.color           = "#0";
					  document.getElementById("edit_project_members_selected_div").style.borderStyle     = "groove";
					  document.getElementById("edit_project_members_selected_div").style.borderRadius     = "3px";
					  document.getElementById("edit_project_members_selected").style.background     = "#fff5f5";
					  validation_pass = false;
				 }
				 
				 if(validation_pass){
					 document.getElementById("editProjectBtn").setAttribute('data-content',`
							  <button class="btn  btn-secondary btn-xs" onClick="sendDataForEditProject()" type="button" >Confirm</button>
							  	<button id="popOverCancel"  onClick="closeNewProjectPopOver()" class="btn  btn-secondary btn-xs" type="button" >Cancel</button> 
					 `);
					 
					 $('#editProjectBtn').popover('show');
					 
				 }else{
					 editValidationMessage();
				 }

			 }
			 
			 

		}
		
		
		function editProject(project_name){
			//alert(JSON.stringify(window.project_data));
			//alert(window.project_data.name)
			document.getElementById('project_id').value = window.project_data.id;
			document.getElementById('edit_project_name').value = window.project_data.name;
			document.getElementById('edit_project_description').value = window.project_data.description;
			document.getElementById('edit_project_importance').value = (!window.project_data.importance)? 'None' : window.project_data.importance;
			document.getElementById('edit_project_deadline').value = window.project_data.deadline;
			document.getElementById('edit_project_approved_person').value = window.project_data.person_to_approve;
			//document.getElementById('edit_project_members_selected').value = 'Glorimar';
			
			$('select[name=edit_approval]').val(window.project_data.members_name);
			$('.selectpicker').selectpicker('refresh')
			
			for(i = 0; i < window.project_data.media_channel.length; i++){
				document.getElementById('edit_' + window.project_data.media_channel[i]).checked = true;
			}
			
			$('#editModal').modal('show');
		}
		
		
		var project_data = {};
		function showEditProject(project_name){
			
			var temp_json = {};
			temp_json['id'] = project_name;
			var http = new XMLHttpRequest();
			  http.onreadystatechange = function(){
			      if(this.readyState == 4 && this.status == 200){
			    	  window.project_data = JSON.parse(this.responseText);
			    	  editProject();
			      }else if (this.readyState == 4){
			    	  
			      }  
			  };
			  http.open("GET", "/getProjectData/" + project_name, true);
			  http.send(null);
			  
		}
			
		//=============================================================================
		//		DELETE PROJECT	
	  //=============================================================================
		function deleteProject(project_name){
			var temp_json = {};
			temp_json['id'] = document.getElementById('project_id').value;
			var http = new XMLHttpRequest();
			  http.onreadystatechange = function(){
			      if(this.readyState == 4 && this.status == 200){
			    	  window.location.href = '/projects';
			    	  
			      }else if (this.readyState == 4){
			    	  
			      }  
			  };
			  http.open("POST", "/deleteProject", true);
			  http.setRequestHeader("Content-type", "application/json");
			  http.send(JSON.stringify(temp_json));
			  
			
		}
		
		function deleteProjectPopOver(project_name){
			 document.getElementById("deleteProject" + project_name).setAttribute('data-content',`
					  <button class="btn  btn-secondary btn-xs" onClick= ` + "\"deleteProject('" +  project_name  + "')\"" + ` type="button" >Confirm</button>
					  	<button id="popOverCancel"  onClick=` + "\"closeDeletePopOver('" +  project_name  + "')\"" + ` class="btn  btn-secondary btn-xs" type="button" >Cancel</button> 
			 `);
			$('#deleteProject' + project_name).popover('show');
		}
		
		
		function closeDeletePopOver(project_name){
			$('#deleteProject' + project_name).popover('hide');
		}
		


 </script>
 
 
 <!-- Optional JavaScript -->
   <!-- ---------------------- -->
  <!--   DEPENDENCIAS PARA EL MULTIPLE SELECT -->
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>	
 
  
</body>

</html>
